allow system_server system_suspend:process getattr;
allow system_server mediaprovider_app:process getattr;
allow system_server permissioncontroller_app:process getattr;
allow system_server shell:process getattr;
allow system_server iorapd:process getattr;
allow system_server statsd:process getattr;
allow system_server updater_app:process getattr;
allow system_server vold:process getattr;
